/* You can add global styles to this file, and also import other style files */

@import 'styles/variables';

// Configuration globale pour le footer en bas de page
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-layout-component {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
